<div class="container mt-5">
  <div class="row">
    <h2 class="mb-5 text-center">Developer Portal</h2>
    <div class="col-sm-6 col-lg-6 mb-3">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">
                API Reference
            </h5>
            <p>The API is organized around REST. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.</p>
            <%= link_to "Access", auth_encode_token_path(space: "api-reference"), target: "_blank", class: "btn btn-primary"%> 
        </div>
    </div>
    </div>

    <div class="col-sm-6 col-lg-6 mb-3">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">
                Docs
            </h5>
            <p>Explore our guides and examples to integrate GitBook. You will find Getting Started guides, Tutorials, and a description of all the features available in GitBook. Do not hesitate to reach out to any member of our team</p>
            <%= link_to "Access", auth_encode_token_path(space: "docs"), target: "_blank", class: "btn btn-primary"%> 
        </div>
    </div>
    </div>
    </div>
</div>
